.bg
{
  background-image: url(/src/assets/images/Background.jpg);
  background-size: cover;
  width: 99vw;
  height: 200vh;
  -ms-grid-layer: 1;
  position: fixed;
  margin-top: -500px;
}

.appContainer {
  -ms-grid-layer: 2;
  position: absolute;
  text-align: left;
  margin-inline: calc(10%);
  width: calc(80% - 2vw);
  left: 0%;
  margin-top: calc(-22vw);
  height: 20vw;
}
.aboutContent
{
  display: flex;
  flex-direction: row;
  background-color: rgb(48, 48, 48);
  padding-bottom: 2vw;
  border-radius: 25px;
}
.div1
{
  margin-right: 100px;
  padding-top: 40px;
  padding-left: 50px;

}
.div2
{
  text-align: center;
  margin-left: 5vw;
}
.image
{
  width: 15vw;
  border-radius: 15px;
}


.projects
{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-inline: 5vw;
  margin-top: -130px;
  width: 70vw;
}
.projects div:nth-child(4n + 2)
{
  height: 10vw;
  flex: 35%;
  background-color: #1b1b1b;
  border-radius: 30px;
  box-shadow: 0 0 16px 10px rgba(100,100,100,0.34), 0 0 50px 10px rgba(100,100,100,0);
  transition: transform 0.3s ease;
  transform: scale(1.2);
}
.projects div:nth-child(4n + 2):hover
{
  transform: scale(1.25);
  box-shadow: 0 0 16px 10px rgba(100,100,100,0.5), 0 0 50px 10px rgba(100,100,100,0);
}
.projects div:nth-child(4n + 2):active
{
  transform: scale(1.15);
}

.projects div:nth-child(4n + 3)
{
  height: 10vw;
  flex: 35%;
  background-color: #1b1b1b;
  border-radius: 30px;
  box-shadow: 0 0 16px 10px rgba(100,100,100,0.34), 0 0 50px 10px rgba(100,100,100,0);
  transition: transform 0.3s ease;
  transform: scale(1.2);
}
.projects div:nth-child(4n + 3):hover
{
  transform: scale(1.25);
  box-shadow: 0 0 16px 10px rgba(100,100,100,0.5), 0 0 50px 10px rgba(100,100,100,0);
}
.projects div:nth-child(4n + 3):active
{
  transform: scale(1.15);
}

.empty
{
  flex: 50%;
  margin-inline: 1vw;
}